<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_python/blob/main/day_09/01_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### In each cell complete the task using pandas

In [ ]:
import pandas as pd
import numpy as np

Read in the titanic.csv file in the `~/data` directory as a pandas dataframe called **df**

Display the head of the dataframe

What is the percentage of people who survived? (hint find the mean of the survival column)

How many women and how many men survived?

What is the percentage of people that survied who paid a fare less than 10?

What is the average age of those who didn't survive?

What is the average age of those who did survive?

What is the average age of those who did and didn't survive grouped by gender?

## Tidy GDP

Manipulate the GDP.csv file and make it tidy, the result should be a pandas dataframe with the following columns:
* Country Name
* Country Code
* Year
* GDP