<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_python/blob/main/day_08/01_expanding_data_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Going from 8 Columns to 33 Columns and then Joining the Datas Together with Pandas

#### Where we are
How data collected then looks...

In [1]:
import pandas as pd

pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_08/data/las_vegas_2020-12-26.csv').sample(3)

                                     a  ...            h
167  https://airbnb.com/rooms/43024999  ...   19 reviews
87   https://airbnb.com/rooms/10685209  ...  392 reviews
50   https://airbnb.com/rooms/45508549  ...          NaN

[3 rows x 8 columns]

#### Where we want to go
How data collected now looks...

In [2]:
pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_08/data/las_vegas_2021-01-11.csv').sample(3)

                                   url  ... ski_in_ski_out_bool
123  https://airbnb.com/rooms/39036611  ...                 NaN
103   https://airbnb.com/rooms/6987603  ...                 NaN
106  https://airbnb.com/rooms/46841816  ...                 NaN

[3 rows x 33 columns]

In [3]:
pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_08/data/las_vegas_2021-01-11.csv').columns

Index(['url', 'title', 'type', 'location', 'guests', 'bedrooms', 'beds',
       'is_studio', 'baths', 'half_baths', 'shared_baths', 'price',
       'avg_rating', 'n_reviews', 'gym_bool', 'wifi_bool',
       'self_check_in_bool', 'air_conditioning_bool', 'pets_allowed_bool',
       'indoor_fireplace_bool', 'hot_tub_bool', 'free_parking_bool',
       'pool_bool', 'kitchen_bool', 'breakfast_bool', 'elevator_bool',
       'washer_bool', 'dryer_bool', 'heating_bool', 'waterfront_bool',
       'dishwasher_bool', 'beachfront_bool', 'ski_in_ski_out_bool'],
      dtype='object')

In [4]:
pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_08/data/las_vegas_2021-01-11.csv').n_reviews

0       NaN
1      46.0
2       NaN
3       NaN
4      19.0
       ...
295     6.0
296     4.0
297     NaN
298    70.0
299    12.0
Name: n_reviews, Length: 300, dtype: float64

## Let's get started
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html

In [5]:
df = pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_08/data/las_vegas_2020-12-26.csv')

df.tail(2)

                                     a  ...            h
298  https://airbnb.com/rooms/40331445  ...          NaN
299  https://airbnb.com/rooms/16479650  ...  103 reviews

[2 rows x 8 columns]

#### Turning c into type & location

In [6]:
df['c'].str.split()

0                    [Private, room, in, Las, Vegas]
1                    [Entire, house, in, Las, Vegas]
2                    [Private, room, in, Las, Vegas]
3              [Entire, condominium, in, Las, Vegas]
4                [Entire, apartment, in, Las, Vegas]
                           ...
295              [Entire, townhouse, in, Las, Vegas]
296              [Entire, apartment, in, Las, Vegas]
297           [Entire, guest, suite, in, Las, Vegas]
298                  [Private, room, in, Las, Vegas]
299    [Entire, serviced, apartment, in, Las, Vegas]
Name: c, Length: 300, dtype: object

In [7]:
# I only wanted 2 things
df['c'].str.split(' in ')

0                   [Private room, Las Vegas]
1                   [Entire house, Las Vegas]
2                   [Private room, Las Vegas]
3             [Entire condominium, Las Vegas]
4               [Entire apartment, Las Vegas]
                        ...
295             [Entire townhouse, Las Vegas]
296             [Entire apartment, Las Vegas]
297           [Entire guest suite, Las Vegas]
298                [Private room, Las Vegas ]
299    [Entire serviced apartment, Las Vegas]
Name: c, Length: 300, dtype: object

In [8]:
df['c'].str.split(' in ')[0]

['Private room', 'Las Vegas']

In [9]:
# But I wanted 2 columns
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html#pandas.Series.str.split
df['c'].str.split(' in ', expand=True)[0]

0                   Private room
1                   Entire house
2                   Private room
3             Entire condominium
4               Entire apartment
                 ...
295             Entire townhouse
296             Entire apartment
297           Entire guest suite
298                 Private room
299    Entire serviced apartment
Name: 0, Length: 300, dtype: object

In [10]:
df['c'].str.split(' in ', expand=True)

                             0           1     2
0                 Private room   Las Vegas  None
1                 Entire house   Las Vegas  None
2                 Private room   Las Vegas  None
3           Entire condominium   Las Vegas  None
4             Entire apartment   Las Vegas  None
..                         ...         ...   ...
295           Entire townhouse   Las Vegas  None
296           Entire apartment   Las Vegas  None
297         Entire guest suite   Las Vegas  None
298               Private room  Las Vegas   None
299  Entire serviced apartment   Las Vegas  None

[300 rows x 3 columns]

In [11]:
df['c'].str.split(' in ', expand=True)[1]

0       Las Vegas
1       Las Vegas
2       Las Vegas
3       Las Vegas
4       Las Vegas
          ...
295     Las Vegas
296     Las Vegas
297     Las Vegas
298    Las Vegas
299     Las Vegas
Name: 1, Length: 300, dtype: object

In [12]:
type_location_values = df['c'].str.split(' in ', expand=True)

df['type'] = type_location_values[0]
df['location'] = type_location_values[1]

df

                                     a  ...    location
0    https://airbnb.com/rooms/45827691  ...   Las Vegas
1    https://airbnb.com/rooms/44685536  ...   Las Vegas
2    https://airbnb.com/rooms/45269857  ...   Las Vegas
3    https://airbnb.com/rooms/44416011  ...   Las Vegas
4    https://airbnb.com/rooms/40022023  ...   Las Vegas
..                                 ...  ...         ...
295  https://airbnb.com/rooms/10660070  ...   Las Vegas
296  https://airbnb.com/rooms/20969733  ...   Las Vegas
297  https://airbnb.com/rooms/37427473  ...   Las Vegas
298  https://airbnb.com/rooms/40331445  ...  Las Vegas
299  https://airbnb.com/rooms/16479650  ...   Las Vegas

[300 rows x 10 columns]

In [13]:
# we no longer need the c column
df.drop('c', inplace=True, axis=1)  # inplace for in place (updates the og dataframe), axis=1 for columns

df.sample(2)

                                     a  ...   location
255  https://airbnb.com/rooms/46329793  ...  Las Vegas
205  https://airbnb.com/rooms/47174700  ...  Las Vegas

[2 rows x 9 columns]

#### Turning h into n_reviews

In [14]:
df.h

0        5 reviews
1       45 reviews
2       10 reviews
3       37 reviews
4      103 reviews
          ...
295     11 reviews
296    227 reviews
297     97 reviews
298            NaN
299    103 reviews
Name: h, Length: 300, dtype: object

In [15]:
df.h.str.split(expand=True)

       0        1
0      5  reviews
1     45  reviews
2     10  reviews
3     37  reviews
4    103  reviews
..   ...      ...
295   11  reviews
296  227  reviews
297   97  reviews
298  NaN      NaN
299  103  reviews

[300 rows x 2 columns]

In [16]:
# take just the number of reviews
df.h.str.split(expand=True)[0]

0        5
1       45
2       10
3       37
4      103
      ...
295     11
296    227
297     97
298    NaN
299    103
Name: 0, Length: 300, dtype: object

In [17]:
import numpy as np

# use numpy to make them float values
df.h.str.split(expand=True)[0].astype(np.float)

0        5.0
1       45.0
2       10.0
3       37.0
4      103.0
       ...
295     11.0
296    227.0
297     97.0
298      NaN
299    103.0
Name: 0, Length: 300, dtype: float64

In [18]:
df['n_reviews'] = df.h.str.split(expand=True)[0].astype(np.float)

# drop without inplace returns a dataframe, so overwrite the og
df = df.drop('h', axis=1)

df.sample(3)

                                     a  ... n_reviews
19   https://airbnb.com/rooms/17704451  ...     409.0
89   https://airbnb.com/rooms/37948840  ...      13.0
148  https://airbnb.com/rooms/38387115  ...      29.0

[3 rows x 9 columns]

#### Turn g into avg_rating

In [19]:
df['g']

0          Rating 4.80 out of 5;4.805 reviews (5)
1        Rating 4.91 out of 5;4.9145 reviews (45)
2        Rating 4.90 out of 5;4.9010 reviews (10)
3        Rating 4.92 out of 5;4.9237 reviews (37)
4      Rating 4.75 out of 5;4.75103 reviews (103)
                          ...
295      Rating 4.73 out of 5;4.7311 reviews (11)
296    Rating 4.56 out of 5;4.56227 reviews (227)
297      Rating 4.81 out of 5;4.8197 reviews (97)
298                                           NaN
299    Rating 4.76 out of 5;4.76103 reviews (103)
Name: g, Length: 300, dtype: object

In [20]:
df['g'].str.split(';', expand=True)

                        0                      1
0    Rating 4.80 out of 5      4.805 reviews (5)
1    Rating 4.91 out of 5    4.9145 reviews (45)
2    Rating 4.90 out of 5    4.9010 reviews (10)
3    Rating 4.92 out of 5    4.9237 reviews (37)
4    Rating 4.75 out of 5  4.75103 reviews (103)
..                    ...                    ...
295  Rating 4.73 out of 5    4.7311 reviews (11)
296  Rating 4.56 out of 5  4.56227 reviews (227)
297  Rating 4.81 out of 5    4.8197 reviews (97)
298                   NaN                    NaN
299  Rating 4.76 out of 5  4.76103 reviews (103)

[300 rows x 2 columns]

In [21]:
# take the right side because the number is longer
df['g'].str.split(';', expand=True)[1]

0          4.805 reviews (5)
1        4.9145 reviews (45)
2        4.9010 reviews (10)
3        4.9237 reviews (37)
4      4.75103 reviews (103)
               ...
295      4.7311 reviews (11)
296    4.56227 reviews (227)
297      4.8197 reviews (97)
298                      NaN
299    4.76103 reviews (103)
Name: 1, Length: 300, dtype: object

In [22]:
df['g'].str.split(';', expand=True)[1].str.split(expand=True)

           0        1      2
0      4.805  reviews    (5)
1     4.9145  reviews   (45)
2     4.9010  reviews   (10)
3     4.9237  reviews   (37)
4    4.75103  reviews  (103)
..       ...      ...    ...
295   4.7311  reviews   (11)
296  4.56227  reviews  (227)
297   4.8197  reviews   (97)
298      NaN      NaN    NaN
299  4.76103  reviews  (103)

[300 rows x 3 columns]

In [23]:
df['g'].str.split(';', expand=True)[1].str.split(expand=True)[0]

0        4.805
1       4.9145
2       4.9010
3       4.9237
4      4.75103
        ...
295     4.7311
296    4.56227
297     4.8197
298        NaN
299    4.76103
Name: 0, Length: 300, dtype: object

In [24]:
df['g'].str.split(';', expand=True)[1].str.split(expand=True)[0].astype(np.float32)

0      4.80500
1      4.91450
2      4.90100
3      4.92370
4      4.75103
        ...
295    4.73110
296    4.56227
297    4.81970
298        NaN
299    4.76103
Name: 0, Length: 300, dtype: float32

In [25]:
# make the avg_rating
df['avg_rating'] = df['g'].str.split(';', expand=True)[1].str.split(expand=True)[0].astype(np.float32)

# forget the column it came from
df.drop('g', axis=1, inplace=True)

# show me a bit of the data
df.sample(3)

                                     a  ... avg_rating
232  https://airbnb.com/rooms/16982708  ...    4.51285
28   https://airbnb.com/rooms/45380994  ...    4.86700
278  https://airbnb.com/rooms/31123139  ...    4.82710

[3 rows x 9 columns]

In [26]:
# are they all 4.902? 
df.avg_rating.unique()

array([4.805  , 4.9145 , 4.901  , 4.9237 , 4.75103, 5.04   , 4.93176,
       4.7431 , 4.74152, 4.9416 , 4.9626 , 4.8513 , 5.019  , 5.07   ,
       4.9111 ,     nan, 4.8733 , 4.5522 , 4.81409, 4.94172, 4.89164,
       4.90183, 4.852  , 4.8457 , 4.8271 , 4.867  , 4.4992 , 4.6316 ,
       4.7246 , 4.82103, 4.96104, 4.70183, 4.33168, 5.011  , 4.80399,
       5.03   , 4.91363, 4.6488 , 4.676  , 4.03   , 4.9455 , 5.09   ,
       4.5538 , 4.9155 , 4.4896 , 5.029  , 4.8962 , 4.801  , 4.9522 ,
       3.336  , 5.05   , 4.95113, 4.836  , 4.8928 , 4.4821 , 4.86392,
       4.577  , 4.9213 , 4.388  , 4.6713 , 4.63165, 4.72177, 4.56546,
       4.5549 , 4.673  , 4.9272 , 4.5413 , 4.8313 , 4.9166 , 4.333  ,
       4.77146, 4.8244 , 4.73146, 4.437  , 4.015  , 4.8148 , 4.72286,
       4.83162, 4.7929 , 4.18182, 5.024  , 4.8348 , 4.63209, 4.9135 ,
       4.54198, 4.1119 , 4.902  , 4.6496 , 4.7879 , 4.7754 , 5.06   ,
       4.90101, 4.605  , 5.016  , 4.3271 , 4.6365 , 4.96328, 5.031  ,
       4.8015 , 4.82247, 4.9251 , 4.9327 , 4.8238 , 4.701  , 3.805  ,
       4.3165 , 4.53244, 4.8312 , 4.7649 , 4.504  , 4.51285, 4.254  ,
       4.3938 , 4.74123, 5.041  , 4.7294 , 4.3711 , 4.75106, 4.4717 ,
       4.62218, 4.71173, 4.508  , 4.7311 , 4.5018 , 4.88437, 4.603  ,
       4.9526 , 4.2917 , 5.013  , 4.9541 , 4.899  , 4.7713 , 4.55144,
       4.9031 , 4.55104, 4.56227, 4.8197 , 4.76103], dtype=float32)

#### Turn a into url

In [27]:
df['url'] = df['a']

df.sample(3)

                                     a  ...                                url
181  https://airbnb.com/rooms/28541487  ...  https://airbnb.com/rooms/28541487
132  https://airbnb.com/rooms/42764574  ...  https://airbnb.com/rooms/42764574
219  https://airbnb.com/rooms/46925158  ...  https://airbnb.com/rooms/46925158

[3 rows x 10 columns]

In [28]:
df.drop('url', axis=1, inplace=True)

Or try [.rename()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [29]:
# first argument of .rename() is mapper which should be a dict
df = df.rename({'a':'url'}, axis=1)  # you could turn on inplace=True for this

df.sample(3)

                                   url  ... avg_rating
41   https://airbnb.com/rooms/45619471  ...    5.03000
34   https://airbnb.com/rooms/33659840  ...    4.96104
127  https://airbnb.com/rooms/18181926  ...    4.83130

[3 rows x 9 columns]

#### Turning b into title

In [30]:
df.b

0      Great Room in a House close to the strip - nul...
1      Cozy Studio with Private Entrance - null - Las...
2      Upstairs bedroom and private bath in Large Hou...
3                           Eggeman 8 - null - Las Vegas
4      19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...
                             ...
295    Comfort done with style,  $1799 per month - nu...
296    Corner 1bdrm  Posh  Luxury Condo Palms Kitchen...
297    Paradise in Las Vegas (near  to the airport) -...
298          #2 cozy room near strip - null - Las Vegas
299    P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6...
Name: b, Length: 300, dtype: object

In [31]:
# split of the - null - 
df.b.str.split(' - null - ')

0      [Great Room in a House close to the strip, Las...
1         [Cozy Studio with Private Entrance, Las Vegas]
2      [Upstairs bedroom and private bath in Large Ho...
3                                 [Eggeman 8, Las Vegas]
4      [19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Ol...
                             ...
295    [Comfort done with style,  $1799 per month, La...
296    [Corner 1bdrm  Posh  Luxury Condo Palms Kitche...
297    [Paradise in Las Vegas (near  to the airport),...
298                [#2 cozy room near strip, Las Vegas ]
299    [P 58 Penthouse w/Jacuzzi on Balcony | Sleeps ...
Name: b, Length: 300, dtype: object

In [32]:
df.b.str.split(' - null - ', expand=True)

                                                     0           1
0             Great Room in a House close to the strip   Las Vegas
1                    Cozy Studio with Private Entrance   Las Vegas
2     Upstairs bedroom and private bath in Large House   Las Vegas
3                                            Eggeman 8   Las Vegas
4    19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...   Las Vegas
..                                                 ...         ...
295          Comfort done with style,  $1799 per month   Las Vegas
296   Corner 1bdrm  Posh  Luxury Condo Palms Kitchen U   Las Vegas
297       Paradise in Las Vegas (near  to the airport)   Las Vegas
298                            #2 cozy room near strip  Las Vegas
299     P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6   Las Vegas

[300 rows x 2 columns]

In [33]:
# another way to rename columns
thing = df.b.str.split(' - null - ', expand=True)

thing.columns = ['title', 'location']

thing

                                                 title    location
0             Great Room in a House close to the strip   Las Vegas
1                    Cozy Studio with Private Entrance   Las Vegas
2     Upstairs bedroom and private bath in Large House   Las Vegas
3                                            Eggeman 8   Las Vegas
4    19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...   Las Vegas
..                                                 ...         ...
295          Comfort done with style,  $1799 per month   Las Vegas
296   Corner 1bdrm  Posh  Luxury Condo Palms Kitchen U   Las Vegas
297       Paradise in Las Vegas (near  to the airport)   Las Vegas
298                            #2 cozy room near strip  Las Vegas
299     P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6   Las Vegas

[300 rows x 2 columns]

In [34]:
# how you'd do it in 1 line
df['obnoxious_title'] = df.b.str.split(' - null - ', expand=True).rename({0:'title', 1:'location'}, axis=1)['title']

df['obnoxious_title']

0               Great Room in a House close to the strip
1                      Cozy Studio with Private Entrance
2       Upstairs bedroom and private bath in Large House
3                                              Eggeman 8
4      19H#Safe,Gated,Apt,W/Kitchn&Bath,StdioFor2,Old...
                             ...
295            Comfort done with style,  $1799 per month
296     Corner 1bdrm  Posh  Luxury Condo Palms Kitchen U
297         Paradise in Las Vegas (near  to the airport)
298                              #2 cozy room near strip
299       P 58 Penthouse w/Jacuzzi on Balcony | Sleeps 6
Name: obnoxious_title, Length: 300, dtype: object

In [35]:
df.drop('obnoxious_title', axis=1, inplace=True)

In [36]:
# a more readable way to do it
thing = df.b.str.split(' - null - ', expand=True)

thing.columns = ['title', 'location']

df['b'] = thing['title']

df.rename({'b':'title'}, axis=1, inplace=True)

df.sample(2)

                                   url  ... avg_rating
68   https://airbnb.com/rooms/24268213  ...    4.70183
220  https://airbnb.com/rooms/19527431  ...    4.53244

[2 rows x 9 columns]

#### Turning e into price

In [37]:
df.e.str.split(' ', expand=True)

        0  1      2
0     $21  /  night
1     $46  /  night
2     $31  /  night
3     $51  /  night
4     $42  /  night
..    ... ..    ...
295   $59  /  night
296  $142  /  night
297   $66  /  night
298   $20  /  night
299  $586  /  night

[300 rows x 3 columns]

In [38]:
df.e.str.split(' ', expand=True)[0].str.slice(1)  # use slice to skip the $

0       21
1       46
2       31
3       51
4       42
      ...
295     59
296    142
297     66
298     20
299    586
Name: 0, Length: 300, dtype: object

In [39]:
 df.e.str.split(' ', expand=True)[0].str.slice(1).astype(np.float)

0       21.0
1       46.0
2       31.0
3       51.0
4       42.0
       ...
295     59.0
296    142.0
297     66.0
298     20.0
299    586.0
Name: 0, Length: 300, dtype: float64

In [40]:
df['e'] = df.e.str.split(' ', expand=True)[0].str.slice(1).astype(np.float)

df = df.rename({'e':'price'}, axis=1)

df

                                   url  ... avg_rating
0    https://airbnb.com/rooms/45827691  ...    4.80500
1    https://airbnb.com/rooms/44685536  ...    4.91450
2    https://airbnb.com/rooms/45269857  ...    4.90100
3    https://airbnb.com/rooms/44416011  ...    4.92370
4    https://airbnb.com/rooms/40022023  ...    4.75103
..                                 ...  ...        ...
295  https://airbnb.com/rooms/10660070  ...    4.73110
296  https://airbnb.com/rooms/20969733  ...    4.56227
297  https://airbnb.com/rooms/37427473  ...    4.81970
298  https://airbnb.com/rooms/40331445  ...        NaN
299  https://airbnb.com/rooms/16479650  ...    4.76103

[300 rows x 9 columns]

#### Now what about f?
Needs to transform into 19 bool columns...

In [41]:
df.f.str.split('·')

0             [Wifi, Airconditioning, Pool, Kitchen]
1      [Wifi, Airconditioning, Kitchen, Freeparking]
2      [Wifi, Airconditioning, Kitchen, Freeparking]
3             [Wifi, Airconditioning, Pool, Kitchen]
4             [Wifi, Airconditioning, Pool, Kitchen]
                           ...
295      [Wifi, Selfcheck-in, Airconditioning, Pool]
296              [Gym, Elevator, Wifi, Selfcheck-in]
297      [Breakfast, Wifi, Airconditioning, Kitchen]
298    [Wifi, Airconditioning, Kitchen, Freeparking]
299              [Gym, Elevator, Wifi, Selfcheck-in]
Name: f, Length: 300, dtype: object

In [42]:
df.f.str.split('·').apply(lambda x: 'Freeparking' in x)

0      False
1       True
2       True
3      False
4      False
       ...
295    False
296    False
297    False
298     True
299    False
Name: f, Length: 300, dtype: bool

In [43]:
# replace f column with list version of f column
df['f'] = df.f.str.split('·')

# lists of possible amenities and their boolean columns
possible_amenities = ['Gym', 'Wifi', 'Self check-in', 'Air conditioning', 'Pets allowed', 'Indoor fireplace', 
                      'Hot tub', 'Free parking', 'Pool', 'Kitchen', 'Breakfast', 'Elevator', 'Washer', 'Dryer',
                      'Heating', 'Waterfront', 'Dishwasher', 'Beachfront', 'Ski-in/Ski-out']

bool_column_amenities = ["gym_bool", "wifi_bool", "self_check_in_bool", "air_conditioning_bool", "pets_allowed_bool", 
                         "indoor_fireplace_bool", "hot_tub_bool", "free_parking_bool", "pool_bool", "kitchen_bool", 
                         "breakfast_bool", "elevator_bool", "washer_bool", "dryer_bool", "heating_bool", "waterfront_bool", 
                         "dishwasher_bool", "beachfront_bool", "ski_in_ski_out_bool"]

# go through the list of amenities / columns
for i in range(len(bool_column_amenities)):
    
    df[bool_column_amenities[i]] = df['f'].apply(lambda x: possible_amenities[i] in x)
    
    
df

                                   url  ... ski_in_ski_out_bool
0    https://airbnb.com/rooms/45827691  ...               False
1    https://airbnb.com/rooms/44685536  ...               False
2    https://airbnb.com/rooms/45269857  ...               False
3    https://airbnb.com/rooms/44416011  ...               False
4    https://airbnb.com/rooms/40022023  ...               False
..                                 ...  ...                 ...
295  https://airbnb.com/rooms/10660070  ...               False
296  https://airbnb.com/rooms/20969733  ...               False
297  https://airbnb.com/rooms/37427473  ...               False
298  https://airbnb.com/rooms/40331445  ...               False
299  https://airbnb.com/rooms/16479650  ...               False

[300 rows x 28 columns]

In [44]:
for c in bool_column_amenities:
    print(f"{np.sum(df[c])} {c}")

55 gym_bool
283 wifi_bool
0 self_check_in_bool
0 air_conditioning_bool
0 pets_allowed_bool
0 indoor_fireplace_bool
0 hot_tub_bool
0 free_parking_bool
109 pool_bool
82 kitchen_bool
11 breakfast_bool
19 elevator_bool
4 washer_bool
10 dryer_bool
0 heating_bool
0 waterfront_bool
0 dishwasher_bool
0 beachfront_bool
0 ski_in_ski_out_bool

In [45]:
df = df.drop('f', axis=1)

df.sample(3)

                                   url  ... ski_in_ski_out_bool
180  https://airbnb.com/rooms/44594668  ...               False
59   https://airbnb.com/rooms/44472030  ...               False
259  https://airbnb.com/rooms/45271441  ...               False

[3 rows x 27 columns]

#### Turning d into guests, bedrooms, beds, is_studio, baths, half_baths,shared_baths

In [46]:
df.d

0       2 guests · 1 bedroom · 1 bed · 1 shared bath
1                 2 guests · Studio · 1 bed · 1 bath
2      2 guests · 1 bedroom · 1 bed · 2 shared baths
3         4 guests · 2 bedrooms · 3 beds · 1.5 baths
4                2 guests · Studio · 2 beds · 1 bath
                           ...
295         6 guests · 2 bedrooms · 2 beds · 2 baths
296        6 guests · 1 bedroom · 2 beds · 1.5 baths
297           3 guests · 1 bedroom · 3 beds · 1 bath
298        2 guests · Studio · 1 bed · 1 shared bath
299        6 guests · 1 bedroom · 3 beds · 1.5 baths
Name: d, Length: 300, dtype: object

In [47]:
# how's it look as a list?
df.d.str.split(' · ')

0       [2 guests, 1 bedroom, 1 bed, 1 shared bath]
1                 [2 guests, Studio, 1 bed, 1 bath]
2      [2 guests, 1 bedroom, 1 bed, 2 shared baths]
3         [4 guests, 2 bedrooms, 3 beds, 1.5 baths]
4                [2 guests, Studio, 2 beds, 1 bath]
                           ...
295         [6 guests, 2 bedrooms, 2 beds, 2 baths]
296        [6 guests, 1 bedroom, 2 beds, 1.5 baths]
297           [3 guests, 1 bedroom, 3 beds, 1 bath]
298        [2 guests, Studio, 1 bed, 1 shared bath]
299        [6 guests, 1 bedroom, 3 beds, 1.5 baths]
Name: d, Length: 300, dtype: object

In [48]:
df.d.str.split(' · ').apply(lambda x: '2 guests' in x)  # WIP

0       True
1       True
2       True
3      False
4       True
       ...
295    False
296    False
297    False
298     True
299    False
Name: d, Length: 300, dtype: bool

Too much of a headache, maybe next time...

#### this is the current scrape extraction method...

In [49]:
def get_room_info(listing):
    """
    returns room info of listing 
    """
    room_info = listing.find('div', {'class', '_kqh46o'}).text
    split_info = [i.split() for i in room_info.split(' · ')]
    room_dict = {}
    for i in split_info:
        if i not in [['Studio'], ['Half-bath']]:
            if len(i) == 2:
                room_dict[i[1]] = i[0]
            # shared-baths
            elif len(i) == 3:
                i = [i[0], '-'.join([i[1], i[2]])]
                room_dict[i[1]] = i[0]
            else:
                print(f'unexpected room_info | unexpected split_info len(i)=={len(i)}!=2!=3\n{i}')
                room_dict[' '.join(i)] = i[0]
        else:
            # Half-baths and Studios
            if i[0] == 'Studio':
                room_dict['is_studio'] = True
            room_dict[i[0]] = 0
    
    weird_bedrooms = 0 
    try:
        room_dict['bedrooms']
    except:
        try:
            room_dict['bedrooms'] = room_dict['bedroom']
        except:
            try:
                room_dict['bedrooms'] = room_dict['Studio']
            except:
                weird_bedrooms += 1
                print(f'weird bedrooms {weird_bedrooms}')
                room_dict['bedrooms'] = room_dict.get('bedrooms')
    
    try:
        room_dict['baths']
    except:
        try:
            room_dict['baths'] = room_dict['bath']
        except:
            room_dict['baths'] = None
    
    room_dict['half_baths'] = room_dict.get('Half-bath')
    room_dict['shared_baths'] = room_dict.get('shared-baths')
    room_dict['is_studio'] = room_dict.get('is_studio', False)
    room_dict['beds'] = room_dict.get('beds')
    room_dict['guests'] = room_dict.get('beds')
            
    room_dict = {key:value for key,value in room_dict.items() if key in ['guests', 'bedrooms', 'beds', 'is_studio', 'baths', 'half_baths', 'shared_baths']}
            
    return room_dict

#### just switch it to something useful...

In [50]:
def get_room_info(room_info):
    """
    returns room info bool dict from input room info string 
    """
    split_info = [i.split() for i in room_info.split(' · ')]
    room_dict = {}
    for i in split_info:
        if i not in [['Studio'], ['Half-bath']]:
            if len(i) == 2:
                room_dict[i[1]] = i[0]
            # shared-baths
            elif len(i) == 3:
                i = [i[0], '-'.join([i[1], i[2]])]
                room_dict[i[1]] = i[0]
            else:
                print(f'unexpected room_info | unexpected split_info len(i)=={len(i)}!=2!=3\n{i}')
                room_dict[' '.join(i)] = i[0]
        else:
            # Half-baths and Studios
            if i[0] == 'Studio':
                room_dict['is_studio'] = True
            room_dict[i[0]] = 0
    
    weird_bedrooms = 0 
    try:
        room_dict['bedrooms']
    except:
        try:
            room_dict['bedrooms'] = room_dict['bedroom']
        except:
            try:
                room_dict['bedrooms'] = room_dict['Studio']
            except:
                weird_bedrooms += 1
                print(f'weird bedrooms {weird_bedrooms}')
                room_dict['bedrooms'] = room_dict.get('bedrooms')
    
    try:
        room_dict['baths']
    except:
        try:
            room_dict['baths'] = room_dict['bath']
        except:
            room_dict['baths'] = None
    
    room_dict['half_baths'] = room_dict.get('Half-bath')
    room_dict['shared_baths'] = room_dict.get('shared-baths')
    room_dict['is_studio'] = room_dict.get('is_studio', False)
    room_dict['beds'] = room_dict.get('beds')
    room_dict['guests'] = room_dict.get('beds')
            
    room_dict = {key:value for key,value in room_dict.items() if key in ['guests', 'bedrooms', 'beds', 'is_studio', 'baths', 'half_baths', 'shared_baths']}
            
    return room_dict

#### do data science

In [51]:
new_values = []

# go through values (rows) from d column
for v in df['d'].values:
    # covert to list then to bool dict based on known possible values
    room_info = get_room_info(v)
    # add dict to new values list
    new_values.append(room_info)


# list of new columns column d will become
new_d_columns = ['guests', 'bedrooms', 'beds', 'is_studio', 'baths', 'half_baths', 'shared_baths']

# add new columns to dataframe
pd.concat([df, pd.DataFrame(new_values, columns=new_d_columns)], axis=1).sample(3)

                                   url  ... shared_baths
264  https://airbnb.com/rooms/46608165  ...            2
100  https://airbnb.com/rooms/47225289  ...         None
62   https://airbnb.com/rooms/47055612  ...         None

[3 rows x 34 columns]

In [52]:
# it worked! add the new columns and drop the d column
df = pd.concat([df, pd.DataFrame(new_values, columns=new_d_columns)], axis=1)

df = df.drop('d', axis=1)

df

                                   url  ... shared_baths
0    https://airbnb.com/rooms/45827691  ...         None
1    https://airbnb.com/rooms/44685536  ...         None
2    https://airbnb.com/rooms/45269857  ...            2
3    https://airbnb.com/rooms/44416011  ...         None
4    https://airbnb.com/rooms/40022023  ...         None
..                                 ...  ...          ...
295  https://airbnb.com/rooms/10660070  ...         None
296  https://airbnb.com/rooms/20969733  ...         None
297  https://airbnb.com/rooms/37427473  ...         None
298  https://airbnb.com/rooms/40331445  ...         None
299  https://airbnb.com/rooms/16479650  ...         None

[300 rows x 33 columns]

## Final Testing
Looks like we've got 33 columns. Time to see if we can join...

In [53]:
updated_old_df = df.copy()

new_style_df = pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_08/data/las_vegas_2021-01-11.csv')

# try to concat them
pd.concat([updated_old_df, new_style_df], axis=0)

                                   url  ... shared_baths
0    https://airbnb.com/rooms/45827691  ...         None
1    https://airbnb.com/rooms/44685536  ...         None
2    https://airbnb.com/rooms/45269857  ...            2
3    https://airbnb.com/rooms/44416011  ...         None
4    https://airbnb.com/rooms/40022023  ...         None
..                                 ...  ...          ...
295  https://airbnb.com/rooms/46466128  ...          NaN
296  https://airbnb.com/rooms/33781720  ...          NaN
297  https://airbnb.com/rooms/45959305  ...          NaN
298  https://airbnb.com/rooms/45301816  ...          NaN
299  https://airbnb.com/rooms/33579893  ...          NaN

[600 rows x 33 columns]

In [54]:
concat_df = pd.concat([updated_old_df, new_style_df], axis=0)

len(concat_df['url'].unique())

448

# Fin
[Report Issues](https://github.com/gumdropsteve/intro_to_python/issues)