<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_python/blob/day_05/day_05/01_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension in Python

#### Regular way to make a simple list

In [1]:
a = []

for _ in range(10):
    # add it to the list
    a.append(_)

a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### List comprehension way to make a simple list

In [2]:
[_ for _ in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## More examples

In [3]:
years = []

for i in range(3):
    years.append(i)

years

[0, 1, 2]

In [4]:
years = list(range(0, 3))
years

[0, 1, 2]

In [5]:
years = [y for y in range(3)]
years

[0, 1, 2]

In [6]:
base_url = 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/'

years = []
for i in range(3):
    years.append(i)

out = []
for i in years:
    fn = f'{base_url}taxi_0{i}.csv'
    out.append(fn)

out

['https://blazingsql-colab.s3.amazonaws.com/taxi_data/taxi_00.csv',
 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/taxi_01.csv',
 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/taxi_02.csv']

In [7]:
base_url = 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/'

years = [i for i in range(3)]

out = [f'{base_url}taxi_0{y}.csv' for y in years]

out

['https://blazingsql-colab.s3.amazonaws.com/taxi_data/taxi_00.csv',
 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/taxi_01.csv',
 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/taxi_02.csv']

#### Example Actually Using It

In [1]:
import pandas as pd

base_url = 'https://blazingsql-colab.s3.amazonaws.com/taxi_data/'

for url in [f'{base_url}taxi_0{y}.csv' for y in [i for i in range(3)]]:
    try:
        # add the new url data to the existing dataframe
        df = pd.concat([df, pd.read_csv(url)])
    # the dataframe doesn't exist yet
    except:
        # read in the url to a new dataframe (make the dataframe exist)
        df = pd.read_csv(url)


df

         2012-02-02 22:30:19.0000002   8.9  ...  40.766828    5
0        2014-09-20 07:19:24.0000001   4.0  ...        NaN  NaN
1        2013-02-23 07:18:05.0000001   5.5  ...        NaN  NaN
2        2015-04-18 23:49:27.0000009  13.5  ...        NaN  NaN
3        2010-03-04 08:15:59.0000001  10.5  ...        NaN  NaN
4        2011-06-07 22:32:43.0000001   6.5  ...        NaN  NaN
...                              ...   ...  ...        ...  ...
4999994                          NaN   NaN  ...  40.768728  4.0
4999995                          NaN   NaN  ...  40.710738  1.0
4999996                          NaN   NaN  ...  40.754930  1.0
4999997                          NaN   NaN  ...  40.739817  1.0
4999998                          NaN   NaN  ...   0.000000  1.0

[14999997 rows x 19 columns]

## List Comprehension with...
- if, else
- a and b


#### If Else

In [8]:
a = []

for i in range(10):
    if i % 2 == 0:
        # the number does divide by 2 evenly
        a.append(True)
    else:
        # the number does not divide by 2 evenly
        a.append(False)

a

[True, False, True, False, True, False, True, False, True, False]

https://stackoverflow.com/questions/4260280/if-else-in-a-list-comprehension

In [11]:
a = [True if i % 2 == 0 else False for i in range(10)]
#    result > condition > alternative > what's going on 
a

[True, False, True, False, True, False, True, False, True, False]

In [12]:
[letter if letter in 'abc' else False for letter in 'dbvfaasdvf']

[False, 'b', False, False, 'a', 'a', False, False, False, False]

#### Multiple For Loops in List Comprehension
https://stackoverflow.com/questions/32530840/order-of-for-statements-in-a-list-comprehension

In [15]:
out = []

for x in ['b', 'c']:
    for i in ['a', x]:
        out.append(i)  # added to the final list

out

['a', 'b', 'a', 'c']

In [14]:
[i for x in ['b', 'c'] for i in ['a', x]]

['a', 'b', 'a', 'c']

In [20]:
# don't get lost in the sauce.. what's this doing? idk
[a for b in [i for i in range(2)] for c in [0, 'a']]

[[True, False, True, False, True, False, True, False, True, False],
 [True, False, True, False, True, False, True, False, True, False],
 [True, False, True, False, True, False, True, False, True, False],
 [True, False, True, False, True, False, True, False, True, False]]